/* INICIO estilos para secciones registro y login */
.log-sig{
    max-width: 300px;
    max-height: 600px;
}
.log-sig-container{
    gap: 35px;
}
/* FIN estilos para secciones registro y login */
/* INICIO estilos para seccion muro */
.wall-nav{
    padding: 5px 20px 5px 20px;
}
.wall-nav img{
    width: 60px;
}
.wall-nav-container {
    width: 25vw;
    font-size: 2.5rem;
}

/* FIN estilos para seccion muro */
.modal-container{
    max-width: 600px;
}
.modal-container-user{
    width: 25%;
}
