/* INICIO estilos para secciones registro y login */
.log-sig{
    max-width: 300px;
    max-height: 600px;
}
.log-sig-container{
    gap: 35px;
}
/* FIN estilos para secciones registro y login */
/* INICIO estilos para seccion muro */
.wall-nav{
    padding: 5px 20px 5px 20px;
}
.wall-nav-container{
    width: 8vw;
}
/* FIN estilos para seccion muro */